header .column.one{
    background:#001946 !important;
}

header .column.one nav{
    padding: 20px 0px !important;
}

header .column.one .responsive-menu-toggle {
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
}

header .column.one img.logo-mobile{
    width: 130px;
}

header .column.one .top_bar_left{
    width: 90% !important;
    padding: 10px 0px !important;
}

header .column.one .logo a{
    margin: 0px !important;
}

.header-stack #Top_bar a.responsive-menu-toggle{
    margin-top: -18px !important;
}

#Header .top_bar_left, #Top_bar #menu, .header-stack #Top_bar{
    background: #001946 !important;
}

#Top_bar #menu ul li a{
    color: #ffffff !important;
    font-size: 1rem !important;
}

.container, .section_wrapper{
    max-width: 100% !important;
}

/*Contattaci*/
#contact input{
    border: none !important;
    border-radius: 3px !important;
}

#contact textarea{
    resize: none !important;
    padding:10px !important;
}


/* Prossimi eventi*/
#chiefit{
    padding: 80px 0px !important;
}
#chiefit .column_attr h3{
    font-size: 2.5rem !important;
    line-height: 2.5rem !important;
    font-weight: bold !important;
    text-align: center !important;
}
#chiefit .desc_img{
    padding-top: 30px;
}

/* Dove siamo */
#dovesiamo iframe {
    display: block !important;
}

#dovesiamo{
    background: #e9edf3 !important;
    padding-top: 80px !important;
}
#dovesiamo h3{
    color: #001946;
    text-align: center;
    font-size: 2.5rem !important;
    line-height: 2.5rem !important;
    font-weight: bold;
}

/* Dove siamo*/
#contatti h3{
    font-size: 2.5rem !important;
    line-height: 2.5rem !important;
    font-weight: bold;
    text-align: center;
}
#contatti p{
    font-size: 16px;
    line-height: 19px;
}

#contatti{
    padding-top: 80px !important;
}



/*CONTENT*/
#Content .column.mcb-column.one.column_column{
    margin: 0px !important;
}

#Content .column.mcb-column.one.column_column .button.button_right.button_large.button_js{
    padding: 0px !important;
    margin: 0px !important;
}

#Content .section.mcb-section.full-screen{
    padding: 80px 0px;
}

#Content .section_wrapper{
    padding: 0px !important;
}

#Content .section_wrapper.mcb-section-inner{
    width: 90%;
    margin: auto !important;
}

/* SECTION FIRST */
section.first{
    background: #e9edf4 !important;
    padding: 80px 0px;
}
section.first .container{
    width: 90% !important;
    max-width: 90% !important;
    padding: 0px !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

section.first .container div{
    width: 100%;
}

section.first .container div h3{
    font-size: 2.5rem !important;
    font-weight: bold;
    text-align: center;
    line-height: 2.5rem !important;
}
section.first .container div p{
    text-align: center;
    font-size: 1.2rem !important;
}

section.first .container div img{
    display: block;
    width: 100%;
    max-width: 750px !important;
}
/* END SECTION FIRST*/


@media screen and (min-width: 480px){
    /* SECTION FIRST */
    section.first .container div h3{
        font-size: 3rem !important;
        line-height: 2.5rem !important;
    }
    section.first .container div p{
        font-size: 1.2rem !important;
    }
    /* END SECTION FIRST */

    #dovesiamo h3{
        font-size: 3rem !important;
        line-height: 2.5rem !important;
    }

    #contatti h3{
        font-size: 3rem !important;
        line-height: 2.5rem !important;
    }
}

@media screen and (min-width: 768px){
    header .column.one{
        background: none !important;
    }

    #Header .top_bar_left, #Top_bar #menu, .header-stack #Top_bar{
        background:none !important;
    }

    header .column.one #menu #menu-main-menu{
        background: #001946 !important;
        border-radius: 5px;
    }

    .header-stack #Top_bar a.responsive-menu-toggle{
        margin-top: -58px !important;
    }

    /*CONTENT*/
    #Content .section.mcb-section.full-screen{
        padding: 180px 0px 80px 0px;
    }

    #Content .column.mcb-column.two-third.column_column.column-margin-{
        padding: 0px !important;
        margin: 0px !important;
    }

    #Content .mcb-wrap-inner h4{
        width: 70%;
        text-align: center;
        padding: 30px 0px 60px 0px !important;
        margin: auto !important;
    }

    /* SECTION FIRST */
    section.first{
        padding: 150px 0px;
    }
    section.first .container div img{
        margin: auto !important;
    }
    section.first .container div h3{
        font-size: 3.2rem !important;
        line-height: 4rem !important;
    }
    section.first .container div p{
        font-size: 1.3rem !important;
        line-height: 1.6rem !important;
    }
    /* END SECTION FIRST */

    #chiefit{
        padding: 150px 0px !important;
    }
    #chiefit .column_attr h3{
        font-size: 3.2rem !important;
        line-height: 4rem !important;
        font-weight: bold !important;
        text-align: center !important;
    }

    #dovesiamo h3{
        font-size: 3.2rem !important;
        line-height: 4rem !important;
    }

    #contatti h3{
        font-size: 3.2rem !important;
        line-height: 4rem !important;
    }

    #contatti p{
        font-size: 23px;
        line-height: 25px;
    }

    #dovesiamo{
        background: #e9edf3 !important;
        padding-top: 150px !important;
    }
}

@media screen and (min-width: 960px){
    section.first .container{
        display: flex !important;
        justify-content: space-between !important;
    }

    section.first .container div{
        width: 47% !important;
    }

    section.first .container:after{
        display: none !important;
    }

    section.first .container div h3{
        font-size: 3.5rem !important;
        line-height: 4.2rem !important;
        text-align: left !important;
    }
    section.first .container div p{
        font-size: 1.3rem !important;
        line-height: 1.5rem !important;
        text-align: left !important;
    }


    section.first .container.reverse{
        flex-direction: row-reverse;
    }

    #chiefit{
        padding: 150px 0px !important;
    }
    #chiefit .column_attr h3{
        font-size: 3.5rem !important;
        line-height: 4.2rem !important;
        font-weight: bold !important;
        text-align: center !important;
    }

    #dovesiamo h3{
        font-size: 3.5rem !important;
        line-height: 4.2rem !important;
    }

    #contatti h3{
        font-size: 3.5rem !important;
        line-height: 4.2rem !important;
    }

    #contatti p{
        font-size: 27px;
        line-height: 29px;
    }

    .first.center .container div{
        margin: auto !important;
        width: 50% !important;
    }
    .first.center .container div h3{
        text-align: center !important;
    }
    .first.center .container div p{
        text-align: center !important;
    }
}


@media screen and (min-width: 1240px){
    #Content .section.mcb-section.full-screen{
        padding: 270px 0px 160px 0px;
    }

    section.first .container{
        max-width: 1440px !important;
    }

    .container, .section_wrapper{
        max-width: 1440px !important;
    }
}

.pb-0{
    padding-bottom: 0px !important;
}

.section-border-top{
    border-top: 0px !important;
}