/*!
 * Bootstrap v4.3.1 (https://getbootstrap.com/)
 * Copyright 2011-2019 The Bootstrap Authors
 * Copyright 2011-2019 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
*,
::after,
::before {
    box-sizing: border-box;
}
html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

footer,
header,
nav,
section {
    display: block;
}
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

h2,
h3,
h5 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}

ul {
    margin-top: 0;
    margin-bottom: 1rem;
}

ul ul {
    margin-bottom: 0;
}
a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}
a:hover {
    color: #0056b3;
    text-decoration: underline;
}
a:not([href]):not([tabindex]) {
    color: inherit;
    text-decoration: none;
}
a:not([href]):not([tabindex]):focus,
a:not([href]):not([tabindex]):hover {
    color: inherit;
    text-decoration: none;
}
a:not([href]):not([tabindex]):focus {
    outline: 0;
}
img {
    vertical-align: middle;
    border-style: none;
}
table {
    border-collapse: collapse;
}

.h2,
.h3,
.h5,
h2,
h3,
h5 {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}
.h2,
h2 {
    font-size: 2rem;
}
.h3,
h3 {
    font-size: 1.75rem;
}
.h5,
h5 {
    font-size: 1.25rem;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}
@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}
.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col-12,
.col-lg-12,
.col-md-4,
.col-sm-6,
.col-xl-3,
.col-xl-4 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.col-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
@media (min-width: 576px) {
    .col-sm-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}
@media (min-width: 768px) {
    .col-md-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
}
@media (min-width: 992px) {
    .col-lg-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}
@media (min-width: 1200px) {
    .col-xl-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
    .col-xl-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
}
.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
}
.table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}
.table tbody + tbody {
    border-top: 2px solid #dee2e6;
}
.table-borderless tbody + tbody,
.table-borderless td {
    border: 0;
}
.nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.navbar {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}
.navbar > .container,
.navbar > .container-fluid {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.navbar-brand {
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.navbar-brand:focus,
.navbar-brand:hover {
    text-decoration: none;
}
@media (max-width: 991.98px) {
    .navbar-expand-lg > .container,
    .navbar-expand-lg > .container-fluid {
        padding-right: 0;
        padding-left: 0;
    }
}
@media (min-width: 992px) {
    .navbar-expand-lg {
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
    .navbar-expand-lg > .container,
    .navbar-expand-lg > .container-fluid {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }
}
@keyframes progress-bar-stripes {
    from {
        background-position: 1rem 0;
    }
    to {
        background-position: 0 0;
    }
}
@keyframes spinner-border {
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spinner-grow {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    50% {
        opacity: 1;
    }
}
.border {
    border: 1px solid #dee2e6 !important;
}
.border-bottom {
    border-bottom: 1px solid #dee2e6 !important;
}
.rounded {
    border-radius: 0.25rem !important;
}
.justify-content-between {
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
}
.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
.m-0 {
    margin: 0 !important;
}
.mb-0 {
    margin-bottom: 0 !important;
}

.px-0 {
    padding-right: 0 !important;
}
.pl-0,
.px-0 {
    padding-left: 0 !important;
}

.py-2 {
    padding-top: 0.5rem !important;
}

.py-2 {
    padding-bottom: 0.5rem !important;
}
.p-4 {
    padding: 1.5rem !important;
}
.pt-5 {
    padding-top: 3rem !important;
}
.pb-5 {
    padding-bottom: 3rem !important;
}
.text-center {
    text-align: center !important;
}
.font-weight-bold {
    font-weight: 700 !important;
}
@media print {
    *,
    ::after,
    ::before {
        text-shadow: none !important;
        box-shadow: none !important;
    }
    a:not(.btn) {
        text-decoration: underline;
    }
    img,
    tr {
        page-break-inside: avoid;
    }
    h2,
    h3,
    p {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
    @page {
        size: a3;
    }
    body {
        min-width: 992px !important;
    }
    .container {
        min-width: 992px !important;
    }
    .navbar {
        display: none;
    }
    .table {
        border-collapse: collapse !important;
    }
    .table td {
        background-color: #fff !important;
    }
}

/*TEMPLATE*/
body {
    font-family: Roboto, sans-serif !important;
    padding: 0;
    margin: 0;
    font-size: 14px;
}
a {
    text-decoration: none;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
a:hover {
    outline: 0;
    text-decoration: none;
}

h2,
h3,
h5 {
    color: #3d5170 !important;
    font-family: Poppins, sans-serif !important;
}
p {
    font-family: Roboto, sans-serif;
    line-height: 1.5;
    font-size: 1.2rem;
    margin-bottom: 0;
    color: #757575;
    font-weight: 200;
}
h2 {
    font-size: 44px;
    line-height: 28px;
    color: #3d5170;
    font-weight: 600;
    line-height: 1.222;
}
@media (max-width: 576px) {
    h2 {
        font-size: 22px;
        line-height: 25px;
    }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
    h2 {
        font-size: 24px;
        line-height: 25px;
    }
}
h3 {
    font-size: 24px;
    line-height: 25px;
}
@media (max-width: 576px) {
    h3 {
        font-size: 20px;
    }
}
h5 {
    font-size: 18px;
    line-height: 22px;
}
img {
    max-width: 100%;
}

a:focus {
    text-decoration: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
@media only screen and (min-width: 1200px) and (max-width: 3640px) {
    .container {
        max-width: 1170px;
    }
}
.logo {
    height: 100%;
    width: 280px;
}
.headertop {
    background: #fff;
}
.nav-link-color a {
    color: #3d5170;
    padding-left: 0.97rem !important;
    padding-right: 0.97rem !important;
    font-size: 1.2rem;
    font-weight: 500;
}
@media (max-width: 576px) {
    .navbar-brand {
        width: 160px;
    }
}
.footer-area {
    background-color: #f7f7f7;
    padding: 100px 0 20px;
}
@media (max-width: 991px) {
    .footer-area {
        padding: 70px 0 30px;
    }
}
@media (max-width: 991px) {
    .footer-area .single-footer-widget {
        margin-bottom: 30px;
    }
}
.footer-area .single-footer-widget p {
    font-size: 0.79rem;
    line-height: 1.5;
    color: #736d91;
    font-weight: 400;
}
.footer-area .single-footer-widget ul li {
    margin-bottom: 10px;
}
.footer-area .single-footer-widget ul li a {
    color: #555;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    font-size: 15px;
}
.footer-area .single-footer-widget ul li a:hover {
    color: #fca741;
}
.footer-area .single-footer-widget ul li:last-child {
    margin-bottom: 0;
}
.footer-area .footer_1 img {
    margin-bottom: 35px;
}
.footer-area .footer_1 p {
    margin-bottom: 15px;
}
.footer-area .footer_2 .social_icon {
    margin-top: 27px;
}
.footer-area .footer_2 .social_icon a {
    color: #ccc;
    font-size: 14px;
    margin-right: 20px;
}
.footer-area .contact_info {
    position: relative;
    margin-bottom: 20px;
}
.footer-area .contact_info:last-child {
    margin-bottom: 0;
}
.footer-area .contact_info p {
    margin-bottom: 10px;
}
.footer-area .contact_info p span {
    color: #0c2e60;
    font-size: 0.99rem;
    font-weight: 500;
}
.footer-area .copyright_part_text {
    padding-top: 26px;
    margin-top: 112px;
    border-top: 1px solid #dedede;
}
.footer-area .copyright_part_text p {
    font-size: 0.7rem;
    margin-bottom: 0;
    color: #bab7cc;
}
@media (max-width: 576px) {
    .footer-area .copyright_part_text {
        margin-top: 20px;
        text-align: center;
    }
    .footer-area .copyright_part_text p {
        font-size: 13px;
    }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
    .footer-area .copyright_part_text {
        text-align: center;
        margin-top: 20px;
    }
    .footer-area .copyright_part_text p {
        font-size: 13px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .footer-area .copyright_part_text {
        margin-top: 42px;
        text-align: center;
    }
}
.footer-area .copyright_part_text a {
    color: #fca741;
}
.footer-area .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    overflow: hidden;
}
.footer-area {
    background-color: #f7f7f7;
    padding: 100px 0 20px;
}
@media (max-width: 991px) {
    .footer-area {
        padding: 70px 0 30px;
    }
}
@media (max-width: 991px) {
    .footer-area .single-footer-widget {
        margin-bottom: 30px;
    }
}
.footer-area .single-footer-widget p {
    font-size: 0.79rem;
    line-height: 1.5;
    color: #736d91;
    font-weight: 400;
}
.footer-area .single-footer-widget ul li {
    margin-bottom: 10px;
}
.footer-area .single-footer-widget ul li a {
    color: #555;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    font-size: 15px;
}
.footer-area .single-footer-widget ul li a:hover {
    color: #fca741;
}
.footer-area .single-footer-widget ul li:last-child {
    margin-bottom: 0;
}
.footer-area .footer_1 img {
    margin-bottom: 35px;
}
.footer-area .footer_1 p {
    margin-bottom: 15px;
}
.footer-area .footer_2 .social_icon {
    margin-top: 27px;
}
.footer-area .footer_2 .social_icon a {
    color: #ccc;
    font-size: 14px;
    margin-right: 20px;
}
.footer-area .contact_info {
    position: relative;
    margin-bottom: 20px;
}
.footer-area .contact_info:last-child {
    margin-bottom: 0;
}
.footer-area .contact_info p {
    margin-bottom: 10px;
}
.footer-area .contact_info p span {
    color: #0c2e60;
    font-size: 0.99rem;
    font-weight: 500;
}
.footer-area .copyright_part_text {
    padding-top: 26px;
    margin-top: 112px;
    border-top: 1px solid #dedede;
}
.footer-area .copyright_part_text p {
    font-size: 0.7rem;
    margin-bottom: 0;
    color: #bab7cc;
}
@media (max-width: 576px) {
    .footer-area .copyright_part_text {
        margin-top: 20px;
        text-align: center;
    }
    .footer-area .copyright_part_text p {
        font-size: 13px;
    }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
    .footer-area .copyright_part_text {
        text-align: center;
        margin-top: 20px;
    }
    .footer-area .copyright_part_text p {
        font-size: 13px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .footer-area .copyright_part_text {
        margin-top: 42px;
        text-align: center;
    }
}
.footer-area .copyright_part_text a {
    color: #fca741;
}
.footer-area .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    overflow: hidden;
}


/*REWRITE*/
.headertop .navbar-brand{
    padding: 0.2rem 0rem !important;
    margin: 0px !important;
    width: 200px;
}

/* PAYMENT */
#payment {
    margin-top: 3rem;
    padding: 3rem 0rem;
}
#payment .container{
    width: 90%;
}