a,
body,
center,
div,
footer,
h1,
h2,
h4,
header,
html,
img,
p,
section {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
footer,
header,
section {
    display: block;
}
body {
    line-height: 1;
}
html {
    height: 100%;
}
body {
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
}
h1,
h2,
h4 {
    margin-bottom: 15px;
}
h1 a,
h2 a,
h4 a {
    font-weight: inherit;
}
h1 a:hover,
h2 a:hover,
h4 a:hover {
    text-decoration: none;
}
p {
    margin: 0 0 15px;
}
a,
a:focus,
a:visited {
    text-decoration: none;
    outline: 0;
}
a:hover {
    text-decoration: underline;
}
p a,
p a:visited {
    line-height: inherit;
}
#Content img,
img.scale-with-grid {
    max-width: 100%;
    height: auto;
}
@font-face {
    font-family: mfn-icons;
    src: url(../fonts/mfn-icons.eot?23391439);
    src: url(../fonts/mfn-icons.eot?23391439#iefix) format("embedded-opentype"), url(../fonts/mfn-icons.woff?23391439) format("woff"), url(../fonts/mfn-icons.ttf?23391439) format("truetype"),
    url(../fonts/mfn-icons.svg?23391439#mfn-icons) format("svg");
    font-weight: 400;
    font-style: normal;
}
body {
    min-width: 960px;
}
#Wrapper {
    max-width: 1240px;
    margin: 0 auto;
    overflow: hidden;
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.06);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.06);
}
.layout-full-width {
    padding: 0;
}
.layout-full-width #Wrapper {
    max-width: 100% !important;
    width: 100% !important;
    margin: 0 !important;
}
#Content {
    width: 100%;
    padding-top: 30px;
}
.section {
    position: relative;
}
.container,
.section_wrapper {
    max-width: 1220px;
    margin: 0 auto;
    position: relative;
}
.container:after,
.section_wrapper:after {
    clear: both;
    content: " ";
    display: block;
    height: 0;
    visibility: hidden;
}
.mcb-wrap {
    float: left;
    position: relative;
    z-index: 1;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.column {
    float: left;
    margin: 0 1% 40px;
}
.one.mcb-wrap {
    width: 100%;
}
.one.column {
    width: 98%;
}
.column_attr.align_center {
    text-align: center;
}
.container:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.clearfix:after,
.clearfix:before {
    content: "\0020";
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    zoom: 1;
}
.section.center {
    text-align: center;
}
.tr-content #Content,
.tr-content #Wrapper {
    background: 0 0;
}
.tr-header #Wrapper {
    background: 0 0;
}
.tr-header #Header_wrapper {
    background: 0 0 !important;
}
.no-content-padding #Content {
    padding: 0 !important;
}
body:not(.template-slider) #Header_wrapper {
    background-repeat: no-repeat;
    background-position: top center;
}
#Header_wrapper {
    position: relative;
}
#Header {
    position: relative;
}
body:not(.template-slider) #Header {
    min-height: 250px;
}
.minimalist-header-no #Header {
    min-height: 0 !important;
}
#Top_bar {
    position: absolute;
    left: 0;
    top: 61px;
    width: 100%;
    z-index: 30;
}
#Top_bar .column {
    margin-bottom: 0;
}
#Top_bar .top_bar_left {
    position: relative;
    float: left;
    width: 990px;
}
#Top_bar .logo {
    float: left;
    margin: 0 30px 0 20px;
}
#Top_bar .logo h1 {
    margin: 0;
}
#Top_bar .logo:not(.text-logo) h1 {
    line-height: 0;
    font-size: 0;
    margin: 0;
}
#Top_bar #logo {
    display: block;
    height: 60px;
    line-height: 60px;
    padding: 15px 0;
}
#Top_bar #logo:hover {
    text-decoration: none;
}
#Top_bar #logo img {
    vertical-align: middle;
    max-height: 100%;
}
#Top_bar #logo img.logo-mobile {
    display: none;
}
.tr-menu .top_bar_left {
    background: 0 0 !important;
}
.header-stack #Top_bar:not(.is-sticky) .top_bar_left {
    width: 100% !important;
}
.header-stack #Header .top_bar_left {
    background-color: transparent;
}
.header-stack #Top_bar {
    position: static;
    background-color: #fff;
}
.header-stack #Top_bar .logo {
    width: 100%;
    margin: 0;
    padding: 0 30px;
    text-align: left;
    border-bottom-width: 1px;
    border-style: solid;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.header-stack.header-center #Top_bar .logo {
    text-align: center;
}
.header-stack #Top_bar .logo #logo {
    display: inline-block;
    height: auto;
}
body.header-stack:not(.template-slider) #Header {
    min-height: 315px;
}
#Footer {
    background-position: center top;
    background-repeat: no-repeat;
    position: relative;
}
#Footer .footer_copy {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}
#Footer .footer_copy .one {
    margin-bottom: 20px;
    padding-top: 30px;
    min-height: 33px;
}
#Footer .footer_copy .copyright {
    float: left;
}
.footer-copy-center #Footer .footer_copy {
    text-align: center;
}
.footer-copy-center #Footer .footer_copy .copyright {
    float: none;
    margin: 0 0 10px;
}
::selection {
    color: #fff;
}
.header-stack #Top_bar .logo {
    border-color: rgba(0, 0, 0, 0.08);
}
body,
html {
    overflow-x: hidden;
}
@media only screen and (min-width: 960px) and (max-width: 1239px) {
    body {
        min-width: 0;
    }
    #Wrapper {
        max-width: 960px;
    }
    .container,
    .section_wrapper {
        max-width: 940px;
    }
    #Top_bar .top_bar_left {
        width: 729px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
    body {
        min-width: 0;
    }
    #Wrapper {
        max-width: 728px;
    }
    .container,
    .section_wrapper {
        max-width: 708px;
    }
    #Top_bar .top_bar_left {
        width: 501px;
    }
}
@media only screen and (min-width: 768px) {
    .tr-menu.header-stack #Top_bar {
        position: absolute;
    }
    .tr-menu.header-stack #Top_bar:not(.is-sticky) {
        top: 0 !important;
        background: 0 0 !important;
    }
}
@media only screen and (max-width: 767px) {
    body {
        min-width: 0;
    }
    #Wrapper {
        max-width: 90%;
        max-width: calc(100% - 67px);
    }
    .container .column,
    .section_wrapper .column,
    .section_wrapper .mcb-wrap,
    .sections_group {
        margin: 0;
        width: 100% !important;
        clear: both;
    }
    .container,
    .section_wrapper {
        max-width: 700px !important;
        padding-left: 33px !important;
        padding-right: 33px !important;
    }
    .section_wrapper .column {
        margin: 0 0 20px;
        height: auto !important;
    }
    .section {
        background-attachment: scroll !important;
        height: auto !important;
    }
    #Top_bar {
        background: #fff !important;
        position: static;
    }
    #Top_bar .container {
        max-width: 100% !important;
        padding: 0 !important;
    }
    #Top_bar .top_bar_left {
        float: none;
        width: 100% !important;
        background: 0 0 !important;
    }
    #Top_bar .logo {
        position: static;
        float: left;
        width: 100%;
        text-align: center;
        margin: 0;
    }
    #Top_bar .logo #logo {
        padding: 0 !important;
        margin: 10px 50px;
    }
    #Top_bar #logo img.logo-main {
        display: none;
    }
    #Top_bar #logo img.logo-mobile {
        display: inline-block;
    }
    .header-stack #Top_bar .logo {
        padding: 0;
        text-align: center !important;
    }
    .header-stack #Top_bar .logo #logo {
        display: block;
    }
    body:not(.template-slider):not(.header-simple) #Header {
        min-height: 350px;
        background-position: center 202px;
    }
    #Footer .footer_copy {
        text-align: center;
    }
    #Footer .footer_copy .copyright {
        float: none;
        margin: 0 0 10px;
    }
}
html {
    background-image: url(../img/home_firm_bgd.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
#Header_wrapper {
    background-color: #151a2d;
}
#Footer {
    background-color: #060c17;
}
body {
    color: #576173;
}
a {
    color: #31518c;
}
a:hover {
    color: #15346d;
}
::selection {
    background-color: #31518c;
}
h1,
h1 a,
h1 a:hover {
    color: #001946;
}
h2,
h2 a,
h2 a:hover {
    color: #001946;
}
h4,
h4 a,
h4 a:hover {
    color: #001946;
}
#Header .top_bar_left,
.header-stack #Top_bar {
    background-color: #060c17;
}
#Footer {
    color: #fff;
}
#Footer a {
    color: #c9c9c9;
}
#Footer a:hover {
    color: #f5f5f5;
}
#Footer h1,
#Footer h1 a,
#Footer h1 a:hover,
#Footer h2,
#Footer h2 a,
#Footer h2 a:hover,
#Footer h4,
#Footer h4 a,
#Footer h4 a:hover {
    color: #d7d198;
}
@media only screen and (max-width: 767px) {
    #Top_bar {
        background: #060c17 !important;
    }
}
html {
    background-color: #151a2d;
}
#Content,
#Wrapper {
    background-color: #fcfcfc;
}
body {
    font-family: Raleway, Arial, Tahoma, sans-serif;
}
h1,
h2,
h4 {
    font-family: Raleway, Arial, Tahoma, sans-serif;
}
body {
    font-size: 13px;
    line-height: 21px;
    font-weight: 400;
    letter-spacing: 0;
}
h1 {
    font-size: 70px;
    line-height: 70px;
    font-weight: 900;
    letter-spacing: 0;
}
h2 {
    font-size: 42px;
    line-height: 42px;
    font-weight: 700;
    letter-spacing: 0;
}
h4 {
    font-size: 23px;
    line-height: 27px;
    font-weight: 400;
    letter-spacing: 0;
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
    body {
        font-size: 13px;
        line-height: 19px;
    }
    h1 {
        font-size: 60px;
        line-height: 60px;
    }
    h2 {
        font-size: 36px;
        line-height: 36px;
    }
    h4 {
        font-size: 20px;
        line-height: 23px;
    }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
    body {
        font-size: 13px;
        line-height: 19px;
    }
    h1 {
        font-size: 53px;
        line-height: 53px;
    }
    h2 {
        font-size: 32px;
        line-height: 32px;
    }
    h4 {
        font-size: 17px;
        line-height: 20px;
    }
}
@media only screen and (max-width: 479px) {
    body {
        font-size: 13px;
        line-height: 19px;
    }
    h1 {
        font-size: 42px;
        line-height: 42px;
    }
    h2 {
        font-size: 25px;
        line-height: 25px;
    }
    h4 {
        font-size: 14px;
        line-height: 19px;
    }
}
@media only screen and (min-width: 1240px) {
    #Wrapper {
        max-width: 1040px;
    }
    .container,
    .section_wrapper {
        max-width: 1020px;
    }
}
#Top_bar #logo {
    height: 60px;
    line-height: 60px;
    padding: 15px 0;
}
.header-stack #Top_bar .logo {
    border: 0;
}




header .column.one{
    background:#001946 !important;
}

header .column.one img.logo-mobile{
    width: 130px;
}

header .column.one .top_bar_left{
    width: 90% !important;
    padding: 10px 0px !important;
}

header .column.one .logo a{
    margin: 0px !important;
}

#Header .top_bar_left, .header-stack #Top_bar{
    background: #001946 !important;
}

.container, .section_wrapper{
    max-width: 100% !important;
}

/*Contattaci*/


/* Prossimi eventi*/

/* Dove siamo */

/* Dove siamo*/



/*CONTENT*/
#Content .column.mcb-column.one.column_column{
    margin: 0px !important;
}

#Content .section.mcb-section.full-screen{
    padding: 80px 0px;
}

#Content .section_wrapper{
    padding: 0px !important;
}

#Content .section_wrapper.mcb-section-inner{
    width: 90%;
    margin: auto !important;
}

/* SECTION FIRST */
section.first{
    background: #e9edf4 !important;
    padding: 80px 0px;
}
section.first .container{
    width: 90% !important;
    max-width: 90% !important;
    padding: 0px !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

section.first .container div{
    width: 100%;
}
section.first .container div p{
    text-align: center;
    font-size: 1.2rem !important;
}

section.first .container div img{
    display: block;
    width: 100%;
    max-width: 750px !important;
}
/* END SECTION FIRST*/


@media screen and (min-width: 480px){
    /* SECTION FIRST */
    section.first .container div p{
        font-size: 1.2rem !important;
    }
    /* END SECTION FIRST */
}

@media screen and (min-width: 768px){
    header .column.one{
        background: none !important;
    }

    #Header .top_bar_left, .header-stack #Top_bar{
        background:none !important;
    }

    /*CONTENT*/
    #Content .section.mcb-section.full-screen{
        padding: 180px 0px 80px 0px;
    }

    #Content .mcb-wrap-inner h4{
        width: 70%;
        text-align: center;
        padding: 30px 0px 60px 0px !important;
        margin: auto !important;
    }

    /* SECTION FIRST */
    section.first{
        padding: 150px 0px;
    }
    section.first .container div img{
        margin: auto !important;
    }
    section.first .container div p{
        font-size: 1.3rem !important;
        line-height: 1.6rem !important;
    }
    /* END SECTION FIRST */
}

@media screen and (min-width: 960px){
    section.first .container{
        display: flex !important;
        justify-content: space-between !important;
    }

    section.first .container div{
        width: 47% !important;
    }

    section.first .container:after{
        display: none !important;
    }
    section.first .container div p{
        font-size: 1.3rem !important;
        line-height: 1.5rem !important;
        text-align: left !important;
    }

    .first.center .container div{
        margin: auto !important;
        width: 60% !important;
    }
    .first.center .container div p{
        text-align: center !important;
    }
}


@media screen and (min-width: 1240px){
    #Content .section.mcb-section.full-screen{
        padding: 270px 0px 160px 0px;
    }

    section.first .container{
        max-width: 1440px !important;
    }

    .container, .section_wrapper{
        max-width: 1440px !important;
    }
}


/*SECTION PAYMENT*/
#payment .container div{
    border: 1px solid #dee2e6;
    padding: 2rem !important;
    border-radius: .25rem !important;
}
#payment .container h2{
    font-size: 2rem !important;
}
#payment .container p{
    text-align: left !important;
}

.pb-4{
    padding-bottom: 2rem !important;
}

table{
    width: 100%;
}
table tr td{
    font-size: 1rem !important;
}
table tr td:nth-child(2){
    text-align: right !important;
}

@media screen and (min-width: 768px){
    table tr td{
        font-size: 1.1rem !important;
    }

    table tr td:nth-child(2){
        text-align: left !important;
    }
}