/*!
 * Bootstrap v3.3.7 (http://getbootstrap.com)
 * Copyright 2011-2016 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 *//*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}body{margin:0}footer,section{display:block}a{background-color:transparent}a:active,a:hover{outline:0}strong{font-weight:700}img{border:0}/*! Source: https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css */@media print{*{color:#000!important;text-shadow:none!important;background:0 0!important;-webkit-box-shadow:none!important;box-shadow:none!important}a,a:visited{text-decoration:underline}a[href]:after{content:" (" attr(href) ")"}img{page-break-inside:avoid}img{max-width:100%!important}h2,p{orphans:3;widows:3}h2{page-break-after:avoid}.navbar{display:none}}@font-face{font-family:'Glyphicons Halflings';src:url(../fonts/glyphicons-halflings-regular.eot);src:url(../fonts/glyphicons-halflings-regular.eot?#iefix) format('embedded-opentype'),url(../fonts/glyphicons-halflings-regular.woff2) format('woff2'),url(../fonts/glyphicons-halflings-regular.woff) format('woff'),url(../fonts/glyphicons-halflings-regular.ttf) format('truetype'),url(../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular) format('svg')}*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}html{font-size:10px;-webkit-tap-highlight-color:rgba(0,0,0,0)}body{font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:14px;line-height:1.42857143;color:#333;background-color:#fff}a{color:#337ab7;text-decoration:none}a:focus,a:hover{color:#23527c;text-decoration:underline}a:focus{outline:5px auto -webkit-focus-ring-color;outline-offset:-2px}img{vertical-align:middle}.img-responsive{display:block;max-width:100%;height:auto}.h2,h2{font-family:inherit;font-weight:500;line-height:1.1;color:inherit}.h2,h2{margin-top:20px;margin-bottom:10px}.h2,h2{font-size:30px}p{margin:0 0 10px}ul{margin-top:0;margin-bottom:10px}ul ul{margin-bottom:0}.container-fluid{padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto}.row{margin-right:-15px;margin-left:-15px}.col-lg-10,.col-md-4,.col-md-8,.col-sm-12,.col-xs-4,.col-xs-8{position:relative;min-height:1px;padding-right:15px;padding-left:15px}.col-xs-4,.col-xs-8{float:left}.col-xs-8{width:66.66666667%}.col-xs-4{width:33.33333333%}@media (min-width:768px){.col-sm-12{float:left}.col-sm-12{width:100%}}@media (min-width:992px){.col-md-4,.col-md-8{float:left}.col-md-8{width:66.66666667%}.col-md-4{width:33.33333333%}}@media (min-width:1200px){.col-lg-10{float:left}.col-lg-10{width:83.33333333%}.col-lg-offset-1{margin-left:8.33333333%}}.navbar{position:relative;min-height:50px;margin-bottom:20px;border:1px solid transparent}@media (min-width:768px){.navbar{border-radius:4px}}@keyframes progress-bar-stripes{from{background-position:40px 0}to{background-position:0 0}}.container-fluid:after,.container-fluid:before,.navbar:after,.navbar:before,.row:after,.row:before{display:table;content:" "}.container-fluid:after,.navbar:after,.row:after{clear:both}@-ms-viewport{width:device-width}@media (max-width:767px){.hidden-xs{display:none!important}}
/*# sourceMappingURL=bootstrap.min.css.map */


/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */.hamburger{font:inherit;display:inline-block;overflow:visible;margin:0;padding:15px;cursor:pointer;transition-timing-function:linear;transition-duration:.15s;transition-property:opacity,filter;text-transform:none;color:inherit;border:0;background-color:transparent}.hamburger:hover{opacity:.7}.hamburger-box{position:relative;display:inline-block;width:40px;height:24px}


/*!
* Hamburgers
* @description Tasty CSS-animated hamburgers
* @author Jonathan Suh @jonsuh
* @site https://jonsuh.com/hamburgers
* @link https://github.com/jonsuh/hamburgers
*/
.hamburger {
    font: inherit;
    display: inline-block;
    overflow: visible;
    margin: 0;
    padding: 15px;
    cursor: pointer;
    transition-timing-function: linear;
    transition-duration: 0.15s;
    transition-property: opacity, filter;
    text-transform: none;
    color: inherit;
    border: 0;
    background-color: transparent;
}
.hamburger:hover {
    opacity: 0.7;
}
.hamburger-box {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
}


/*Luca nuovi*/
body {
    transition: all .4s;
    overflow-x: hidden;
}

.notifica {
    position: absolute;
    right: 90px;
    top: 19px;
}

/*Animazioni top*/

/*#menu-pushy-campanella .tit {
    text-transform: uppercase;
    margin-top: 50px;
}*/

#navbar .notifica img {
    cursor: pointer;
}

@keyframes iconcina {
    0% {
        bottom: 30px;
    }
    78% {
        bottom: 18px;
    }
    100% {
        bottom: 18px;
    }
}

/*.line-desc-abs:after {
    content: ' ';
    right: -5px;
    top: 50%;
    -webkit-transform: translate(0,-50%);
    -moz-transform: translate(0,-50%);
    transform: translate(0,-50%);
    position: absolute;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 8px solid #e8007f;
}*/

/*.line-desc:after {
    content: ' ';
    right: -5px;
    top: 50%;
    -webkit-transform: translate(0,-50%);
    -moz-transform: translate(0,-50%);
    transform: translate(0,-50%);
    position: absolute;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 8px solid #e8007f;
}*/
/* Trova Agenzia*/

/*===*/

.servizio-clienti {
    margin-top: 50px;
    color: #004691;
}

/*
Tolto Padding-top a .auto
Aggiunto pointer-events: none; a .nuvola
header #scroll-down aumentato z-index
#auto tolto overflow: hidden
*/


/*Pag interna*/
/*.outer-top-prod {
        width: 33.333333%;
}
.outer-top-prod p {
        position: relative;
        text-align: left;
        bottom: 0;
}
.img-top-prod {
        width: calc(((100% + 15px)/1.6));
        float: right;
}*/


/*Vecchi Css*/
/*GENERICI*/
body {
    font-family: 'Work Sans', sans-serif !important;
}

h2 {
    font-size: 40px;
    font-weight: 100;
}

h2 strong {
    font-weight: bold;
}

p {
    font-size: 22px;
    line-height: 1.2em;
}

.colore-blu {
    color: #0f73c2 !important;
}

.contenitore {
    width: 100%;
    overflow-x: hidden;
    z-index: 210;
}

/*.line-desc { position: relative; width: 100%; text-align: center; font-size: 18px; color: #094482; margin: 10px 0 15px; }*/

a.bene, a.bene p {
    color: #FFF;
    font-size: 22px;
    font-weight: bold;
    position: relative;
    display: inline-block;
    background: none;
    border: 0;
}

a.bene:hover {
    text-decoration: none;
}

a.bene:before {
    content: ' ';
    right: -15px;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    transform: translate(0, -50%);
    position: absolute;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 8px solid #e8007f;
}

.clight {
    color: #0f73c2;
}

.rel {
    position: relative;
}

/*NAVBAR*/
#navbar {
    z-index: 210;
    background: rgba(255, 255, 255, 0);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 2px solid rgba(238, 238, 238, 0);
    -webkit-transition-duration: .4s;
    -moz-transition-duration: .4s;
    transition-duration: .4s;
}

#navbar.appiccicata {
    background: rgba(255, 255, 255, 1);
    border-bottom: 2px solid rgba(238, 238, 238, 1);
    z-index: 9999999;
}

#navbar .logo {
    margin-top: 8px;
    opacity: 0;
    -webkit-transition-duration: .4s;
    -moz-transition-duration: .4s;
    transition-duration: .4s;
}

#navbar.appiccicata .logo {
    opacity: 1;
}

#navbar .social {
    opacity: 0;
    float: right;
    font-size: 18px;
    color: #1b76c5;
    line-height: 78px;
    margin-right: 115px;
}

#navbar.appiccicata .social {
    opacity: 1;
}

#navbar .social i {
    color: #0a4182;
    font-size: 22px;
}

#navbar .social i:first-child {
    margin-left: 15px;
    margin-right: 5px;
}

#navbar .social img {
    display: inline-block;
    -webkit-transform: translate(0, -3px);
    -moz-transform: translate(0, -3px);
    transform: translate(0, -3px);
    height: 30px;
}

#navbar .hamburger {
    float: right;
    padding: 25px 0;
}

.hamburger:hover {
    opacity: 1;
}

/*HEADER*/

/*AUTO*/

/*CASA*/

/*PMI*/

/*COMPAGNIA*/

/*MAGAZINE*/

/*==Luca==*/

.social > a {
    color: #044192;
    margin-right: 7px;
    font-size: 20px;
}

.social > a:hover, .social > a:focus {
    text-decoration: none;
}

/*=======*/

#sociale {
    padding: 0;
    margin-top: 20px;
    position: relative;
}

#sociale li {
    list-style-type: none;
    display: inline-block;
    margin-right: 15px;
    vertical-align: top;
}

/*.magazinesx { padding: 0 30px; }*/

/*RECRUITMENT*/

/*CUSTOMER CARE*/

/*HEADER INTERNO*/

/*OFFERTA*/
#offerta {
    background: #FFF;
    padding: 48px 0 0;
}

#offerta h2 {
    margin-top: 0;
    margin-bottom: 48px;
    font-size: 40px;
    font-weight: 100;
    color: #004691;
}

#offerta p {
    font-size: 22px;
    font-weight: 300;
    line-height: 1.2em;
    color: #044192;
}

/*COSA PROTEGGI*/

/*DOCUMENTI*/

/*TUTTA L'OFFERTA*/

/*SERVIZIO CLIENTI*/

/*#generica .player .vp-player-layout {
        left: 0 !important;
    width: 100% !important;
    height: 100% !important;
}
#player {
        background-color: black !important;
}*/

/*LAVORA CON NOI*/

/*COMPAGNIA*/

#investitori {
    padding: 48px 0 0;
}

#investitori h2 {
    color: #004691;
}

#gruppo {
    position: relative;
    background: #eeeeee;
    padding: 100px 0;
    color: #004691;
}

#gruppo h2.clight {
    margin-top: 115px;
}

/*SEZIONE GENERICA*/

/*PARTNERS*/

/*PRE FOOTER*/
#pre-footer {
    background: #044293;
    color: #11baeb;
    padding: 50px 0;
}

#pre-footer ul {
    padding: 0;
    margin-top: 22px;
}

#pre-footer ul li {
    list-style-type: none;
    display: inline-block;
    margin-right: 30px;
}

#pre-footer ul li a {
    color: #FFF;
    font-size: 16px;
    font-weight: bold;
}

#pre-footer ul li a:hover {
    text-decoration: none;
}

#pre-footer .info-container {
    border-bottom: 2px solid #003977;
}

#pre-footer p.info {
    margin-top: 20px;
    margin-bottom: 22px;
    font-size: 16px;
    font-weight: 300;
}

#pre-footer .legalmail {
    color: #FFF;
    font-size: 17px;
    font-weight: bold;
    margin-top: 20px;
    display: block;
}

#pre-footer .ccontainer {
    border-bottom: 2px solid #003977;
}

#pre-footer .ccard {
    margin-bottom: 50px;
}

#pre-footer .ccard:last-child {
    margin-bottom: 0;
    padding-bottom: 22px;
}

#pre-footer .ccard img {
    display: block;
    margin-bottom: 10px;
}

#pre-footer .ccard a {
    font-size: 16px;
    color: #FFF;
}

#pre-footer .ccard p {
    font-size: 18px;
}

.logo-footer {
    float: left;
}

/*SOCIAL WALL*/

.offerta {
    padding: 0 15px 30px;
    color: #FFF;
    height: 680px;
}

/*FOOTER*/
footer {
    background: #eee;
    color: #666666;
    font-size: 14px;
    padding: 25px 0 30px;
}

footer p {
    padding-left: 30px;
    margin-top: 13px;
    font-size: 13px;
    padding-bottom: 0;
}

footer #goToTop {
    font-size: 19px;
    color: #083e95;
    font-weight: bold;
    margin-top: 20px;
    display: block;
}

footer #goToTop:hover {
    text-decoration: none;
}

footer #goToTop:before {
    content: ' ';
    width: 0;
    height: 0;
    display: block;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #e8007f;
}

/*DESKTOP*/

@media only screen and (min-width: 1200px) and (max-width: 1600px) {

    .agenzie img {
        width: 80px;
    }

    /*#omino { width: 300px; left: -72px; top: -198px; }*/
}

/*TABLET LANDSCAPE*/
@media only screen and (min-width: 993px) and (max-width: 1199px) {

    /*#home { height: 700px; }*/

    .agenzie img {
        width: 85px;
    }
}

/*TABLET PORTRAIT*/
@media only screen and (min-width: 768px) and (max-width: 992px) {
    /*#navbar #menu.is-active { max-height: 715px; }*/
    #pre-footer .ccard {
        float: left;
        width: 33.3%;
        margin-bottom: 0;
    }

    #pre-footer .ccontainer {
        height: 130px;
        padding-top: 22px;
        padding-bottom: 22px;
    }

    #pre-footer ul {
        padding-bottom: 22px;
        border-bottom: 2px solid #003977;
    }

    #pre-footer p.info {
        font-size: 15px;
    }

    #navbar .social {
        font-size: 16px;
        margin-right: 60px;
    }
}

/*MOBILE (telefoni e phablet)*/
@media only screen and (max-width: 767px) {

    h2 {
        font-size: 30px;
    }

    p {
        font-size: 17px;
        line-height: 1.4em;
    }

    #navbar .social {
        opacity: 1;
        line-height: 1em;
        margin-top: 20px;
        float: none;
        margin-right: 0;
        font-size: 14px;
    }

    #navbar .social i {
        font-size: 16px;
    }

    #navbar .social i:first-child {
        margin-left: 5px;
        margin-right: 0;
    }

    .agenzie {
        margin-bottom: 46px;
        text-align: left;
    }

    .agenzie img {
        width: 80px;
    }

    #pre-footer .info-container {
        margin-bottom: 22px;
    }

    #pre-footer .ccard {
        margin-bottom: 25px;
    }

    #pre-footer ul {
        padding-bottom: 7px;
        border-bottom: 2px solid #003977;
    }

    #pre-footer ul li {
        display: block;
        margin-bottom: 15px;
    }

    footer {
        padding: 20px 15px 50px;
    }

    footer p {
        padding-left: 0;
    }

    /*#home { height: 540px; }*/

    #offerta h2 {
        font-size: 30px;
    }

    .container-fluid .container-fluid {
        padding: 0;
    }

    #offerta p {
        font-size: 17px;
    }

    /*a.bene{ font-size: 17px; }*/

    #gruppo {
        padding-bottom: 0;
    }

    .logo-footer {
        float: none;
    }

    /*.sfondo-bianco>div {
            padding: 50px 0;
    }*/

    .notifica {
        right: 75px;
    }
}

@media only screen and (max-width: 574px) {

    #navbar .logo {
        margin-top: 9px;
        margin-left: -4px;
        width: 130px;
    }
}

@keyframes animateCloud {
    0% {
        transform: translate(-1000px, 0);
    }
    100% {
        transform: translate(100vw, 0);
    }
}

@keyframes animateCloudReverse {
    0% {
        transform: translate(100vw, 0);
    }
    100% {
        transform: translate(-1000px, 0);
    }
}

@keyframes swing {
    0% {
        -webkit-transform: rotateZ(3deg);
        -moz-transform: rotateZ(3deg);
        transform: rotateZ(3deg);
    }
    100% {
        -webkit-transform: rotateZ(-3deg);
        -moz-transform: rotateZ(-3deg);
        transform: rotateZ(-3deg);
    }
}

.stex {
    font-size: 36px;
}

@media only screen and (max-width: 768px) {
    .offerta {
        width: 100%;
    }
}

/*c5*/
#pre-footer .info p {
    margin-top: 20px;
    margin-bottom: 22px;
    font-size: 16px;
    font-weight: 300;
}

/*CSS Ismail - Maggio*/


/*CSS Angelo -  IsmailGiugno*/

/* If screen size is 600px wide, or less, set the font-size of <div> to 20px */

/* If screen size is 600px wide, or less, set the font-size of <div> to 20px */

/* If screen size is 600px wide, or less, set the font-size of <div> to 20px */

@media screen and (max-width: 425px) {

    a.bene, a.bene p {
        font-size: 18px;
    }
}

#gruppo{
    padding-bottom: 5rem !important;
}
#gruppo h2{
    font-weight: 700;
    font-family: "Work Sans", sans-serif;
    font-size: 3rem !important;
}
#gruppo p{
    font-weight: 300;
}
#gruppo table{
    width: 100%;
}

#gruppo table tr td{
    font-size: 2rem !important;
    font-weight: 300;
}

.pb-4{
    padding-bottom: 4rem !important;
}

@media screen and (max-width: 400px){
    #gruppo table tr td:nth-child(2){
        text-align: right !important;
    }
}

@media screen and (min-width: 700px){
    #gruppo table{
        width: 500px;
    }
}